@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

html {
  --lg-light-purple: hsl(236, 72%, 79%);
  --lg-purple: hsl(237, 63%, 64%);
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
  --white: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  background-color: var(--very-light-grayish-blue);
  color: var(--grayish-blue);
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
