.price-toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.price-toggle-switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.price-toggle-slider {
    position: absolute;
    cursor: pointer;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(.34turn, var(--lg-light-purple), var(--lg-purple));
    -webkit-transition: .4s;
    transition: .4s;
}
.price-toggle-slider:before {
    position: absolute;
    border-radius: 50%;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .price-toggle-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}